.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    max-width: 1280px;
    flex-wrap: wrap
}

@media (max-width: 650px) {
    .container {
        justify-content: space-around
    }
}