.card {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    flex: 0 0 95%;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 15px;
}

@media (min-width: 650px) {
    .card {
        flex-basis: 48%
    }
}

@media (min-width: 1000px) {
    .card {
        flex-basis: 31%
    }
}

.card h1 {
    padding: 5px 0 0 20px;
    font-size: 20px
}