.header {
    text-align: center;    
    width: 95%;
    max-width: 1280px;
    margin: 20px auto 40px;
}

.header h1 {
    background: black;
    color: white;
    padding: 10px;
    margin: 0 0 5px;
}

.header small, .line {
    text-align: right;
    display: block;
}

.distribute {
    display: flex;
    justify-content: space-between
}

.line {
    margin-top: 5px;
}

.nav {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.nav small {text-align: left}

.nav a {
    text-decoration: underline;
    cursor: pointer;
}

.nav a.selected {
    text-decoration: none;
    cursor: default;
    font-weight: bold
}